* {
	box-sizing: border-box;
}

body {
	background: #f3e0e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	margin: 20px 0 30px;
	font-size: 12px;
	color: #696969;
}

#btn_ingresar {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;

	&:hover {
		background-color: #ea3a1a; 
	}
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	width: 900px;
	min-height: 580px;
}

.authentication-container {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 50%;
	z-index: 2;
}

.floor-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.right-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	right: 0;
}

.pad{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(11, 1fr);
	grid-row-gap: 3px;
}

.tecladoPisos {
	/* background-color: #eaeaea; */
	align-items: center;
	justify-content: center;
	margin: 50 auto;
}

.row{
	display: flex;
	align-items: center;
	justify-content: center;
}
.digit {
	background-color: #a2a2a2;
	border: 1px solid 	#a2a2a2;
	color: white;
	cursor: pointer;
	font-family: 'Mina', sans-serif;
	font-size: 25px;
	border-radius: 25px;
	/* height: 10px; */
	/* margin: 10px; */
	/* line-height: 50px; */
	text-align: center;
	width: 100%;
	text-shadow: 1px 1px 2px rgb(63, 62, 62);
	box-shadow: 3px 5px 7px 0px rgb(63, 62, 62);

	&:hover {
		background-color: #5d5d5d;
	}
}


.seleccion{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr  1fr ;
	grid-template-rows: 1fr;
	grid-column-gap: 2px;

}

.inputSeleccion {
	display: block;
	border-radius: 5px;
	font-family: 'Mina', sans-serif;
	font-size: 20px;
	text-align: center;
	margin-left:50 auto;
	grid-column-start: 2;
	grid-column-end: 4;
	/* position: relative; */
	/* width: 200px; */
}

#btn_borrar{
	margin: auto;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #FF4B2B;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 2px rgb(63, 62, 62);
	box-shadow: 3px 5px 7px 0px rgb(63, 62, 62);
	grid-column: 4;
	
	&:hover {
		background-color: #ea3a1a;
	}
}

.rfid{
	background-color: white;
	border-color: rgba(63, 62, 62, 0.155);
	border-radius: 50%;
	background-image:url('resources/rfid2.png');
	background-repeat:no-repeat;
	height:100px;
	width: 100px;
	background-size: 60px;
	background-position:center;

	&:hover {
		background-color: #e3e3e3;
	}
}